.App {
  text-align: center;
  background-color: magenta;
  height: 10px;
  padding: 30px;
  margin: 10px;
  font-family: 'Varela Round', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 40px;
  margin: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  text-align: left;
  font-size: large;
}

.background {
  /* background-color: yellow; */
  background-image: url('./assets/background_imgs/cyclists_1910x1000.jpg');
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
  /* color: red; */
  /* background-repeat: no-repeat; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .text {
  opacity: 0.9;
} */

.workoutDisplay {
  white-space: pre;
}
